<ion-view title="Alterar Senha" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="alterarSenha-form13" class="list">
      <label class="item item-input" id="alterarSenha-input15">
        <span class="input-label">Senha Antiga</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="alterarSenha-input16">
        <span class="input-label">Nova Senha</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="alterarSenha-input17">
        <span class="input-label">Repetir Nova Senha</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="configuraEs()" id="alterarSenha-button13" class="button button-balanced button-block">Alterar Senha</a>
  </ion-content>
</ion-view>