<ion-view title="Cadastro de Cliente (1 de 2)" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeCliente1De2-form3" class="list">
      <label class="item item-input" id="cadastroDeCliente1De2-input7">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDeCliente1De2-input9">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="pagamento2De2()" id="cadastroDeCliente1De2-button8" class="button button-positive button-block">Prosseguir</a>
  </ion-content>
</ion-view>