<ion-view title="Cadastro de Proprietário" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeProprietRio-form2" class="list">
      <label class="item item-input" id="cadastroDeProprietRio-input3">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Nome Completo">
      </label>
      <label class="item item-input" id="cadastroDeProprietRio-input4">
        <span class="input-label">CNPJ</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDeProprietRio-input5">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDeProprietRio-input6">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="login()" id="cadastroDeProprietRio-button7" class="button button-balanced button-block">Cadastrar</a>
  </ion-content>
</ion-view>