<ion-view title="Login" id="page4">
  <ion-content padding="true" style="background: url(img/adesivo-de-parede-cheff-diferentes.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
    </form>
    <a ui-sref="selecionarMesas()" id="login-button3" class="button button-balanced button-block">Login</a>
    <a ui-sref="cadastro()" id="login-button4" class="button button-positive button-block">Cadastrar</a>
  </ion-content>
</ion-view>