<ion-view title="Pagamento (2 de 2)" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="pagamento2De2-form6" class="list">
      <label class="item item-input" id="pagamento2De2-input10">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="o mesmo do cartão">
      </label>
      <label class="item item-input" id="pagamento2De2-input11">
        <span class="input-label">Número do Cartão</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="pagamento2De2-select1">
        <span class="input-label">Cartão</span>
        <select>
          <option>VISA</option>
          <option>Master Card</option>
          <option>AMEX</option>
          <option>Elo</option>
        </select>
      </label>
      <label class="item item-input" id="pagamento2De2-input12">
        <span class="input-label">Data de Expiração</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pagamento2De2-input13">
        <span class="input-label">Código de Segurança</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="login()" id="pagamento2De2-button9" class="button button-balanced button-block">Terminar Cadastro</a>
  </ion-content>
</ion-view>