<ion-view title="Selecionar Mesas" id="page9">
  <ion-content padding="true" class="has-header">
    <h5 id="selecionarMesas-heading2" style="color:#000000;">Selecione as mesas que você irá atender hoje:</h5>
    <form id="selecionarMesas-form12" class="list">
      <label class="item item-input" id="selecionarMesas-input14">
        <span class="input-label">Mesas</span>
        <input type="text" placeholder="separadas por vírgula">
      </label>
    </form>
    <a ui-sref="menu.cardPio()" id="selecionarMesas-button10" class="button button-positive button-block">Prosseguir</a>
  </ion-content>
</ion-view>