<ion-view title="Abrir Conta" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="abrirConta-form6" class="list">
      <label class="item item-input" id="abrirConta-input16">
        <span class="input-label">Número</span>
        <input type="text" placeholder="da Mesa">
      </label>
      <div id="abrirConta-markdown23" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Tempo médio de espera: </strong> 15 minutos</p>
      </div>
    </form>
    <a ui-sref="menu.cardPio()" id="abrirConta-button10" class="button button-balanced button-block">Abrir Conta</a>
  </ion-content>
</ion-view>