<ion-view title="Alterar Senha" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="alterarSenha-form7" class="list">
      <label class="item item-input" id="alterarSenha-input17">
        <span class="input-label">Senha Antiga</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="alterarSenha-input18">
        <span class="input-label">Nova Senha</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="alterarSenha-input19">
        <span class="input-label">Repetir Nova Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="configuraEs()" id="alterarSenha-button13" class="button button-balanced button-block">Alterar Senha</a>
  </ion-content>
</ion-view>