<ion-view title="Batata Frita (Porção)" id="page29">
  <ion-content padding="true" style="background: url(img/129587833Fwid3D52026hei3D52026fmt3Dpjpeg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/french-fries-1200.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="batataFritaPorO-heading27" style="color:#000000;">Descrição</h1>
    <h5 id="batataFritaPorO-heading28" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="batataFritaPorO-heading29" style="color:#000000;">Ingredientes</h1>
    <h5 id="batataFritaPorO-heading30" style="color:#000000;">Nenhum.</h5>
    <h1 id="batataFritaPorO-heading31" style="color:#000000;">Observações</h1>
    <h5 id="batataFritaPorO-heading32" style="color:#000000;">Nenhuma.</h5>
    <form id="batataFritaPorO-form9" class="list">
      <label class="item item-select" id="batataFritaPorO-select5">
        <span class="input-label">Condimentos</span>
        <select>
          <option>Nenhum</option>
          <option>Ketchup</option>
          <option>Mostarda</option>
          <option>Maionese (R$0.50)</option>
        </select>
      </label>
    </form>
    <h1 id="batataFritaPorO-heading33" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="menu.cardPio()" id="batataFritaPorO-button22" class="button button-balanced button-block">Adicionar ao Carrinho</a>
  </ion-content>
</ion-view>