<ion-view title="Cadastro de Cliente (1 de 2)" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeCliente1De2-form4" class="list">
      <ion-list id="cadastroDeCliente1De2-list4">
        <label class="item item-input" id="cadastroDeCliente1De2-input9">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeCliente1De2-input10">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeCliente1De2-input11">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Confirmar Senha">
        </label>
      </ion-list>
      <a ui-sref="pagamento2De2()" id="cadastroDeCliente1De2-button8" class="button button-positive button-block">Prosseguir</a>
    </form>
  </ion-content>
</ion-view>