<ion-view title="Cadastro de Proprietário" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeProprietRio-form3" class="list">
      <ion-list id="cadastroDeProprietRio-list3">
        <label class="item item-input" id="cadastroDeProprietRio-input5">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome Completo">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input6">
          <span class="input-label">CNPJ</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input7">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input8">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input24">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Confirmar Senha">
        </label>
      </ion-list>
      <div id="cadastroDeProprietRio-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Sua conta pode demorar ate
          <strong>72 horas</strong> para ser confirmada.</p>
      </div>
      <a ui-sref="login()" id="cadastroDeProprietRio-button7" class="button button-balanced button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>