<ion-view title="Cardápio" hide-back-button="true" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="cardPio-list6">
      <ion-item id="cardPio-list-item7" ui-sref="menu.entradas()">Entradas</ion-item>
      <ion-item id="cardPio-list-item8" ui-sref="menu.pratosPrincipais()">Pratos Principais</ion-item>
      <ion-item id="cardPio-list-item9" ui-sref="menu.bebidas()">Bebidas</ion-item>
      <ion-item id="cardPio-list-item10">Sobremesas</ion-item>
      <ion-item class="item-divider" id="cardPio-list-item-divider5"> </ion-item>
      <ion-item id="cardPio-list-item34" ui-sref="menu.combos()">Combos</ion-item>
    </ion-list>
  </ion-content>
</ion-view>