<ion-view title="Carrinho" id="page18">
  <ion-content padding="true" class="has-header">
    <ion-list id="carrinho-list11">
      <ion-item id="carrinho-list-item21" ui-sref="menu.pizzaItaliana()">Pizza + Coca-Cola
        <ion-option-button class="button-assertive">Excluir</ion-option-button>
      </ion-item>
      <ion-item id="carrinho-list-item22" ui-sref="menu.sucoDeLaranja()">Batata Frita (Porção)
        <ion-option-button class="button-assertive">Excluir</ion-option-button>
      </ion-item>
    </ion-list>
    <h1 id="carrinho-heading16" style="color:#000000;">Total: R$X,XX</h1>
    <a ui-sref="menu.cardPio()" id="carrinho-button15" class="button button-balanced button-block">Confirmar Pedido</a>
  </ion-content>
</ion-view>