<ion-view title="Configurações" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="configuraEs-list8">
      <ion-item id="configuraEs-list-item18" ui-sref="alterarSenha()">Alterar Senha</ion-item>
      <ion-item id="configuraEs-list-item12" ui-sref="editarPagamento()">Editar Pagamento</ion-item>
      <ion-item id="configuraEs-list-item25" ui-sref="historicoDePedidos()">Histórico</ion-item>
    </ion-list>
    <a ui-sref="login()" id="configuraEs-button12" class="button button-assertive button-block icon ion-android-close"> Sair</a>
  </ion-content>
</ion-view>