<ion-view title="Detalhes da Compra" id="page23">
  <ion-content padding="true" class="has-header">
    <div id="detalhesDaCompra2-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Estabelecimento: </strong> Bar do Zé</p>
    </div>
    <div id="detalhesDaCompra2-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Data da compra: </strong> 26/Jul/2017</p>
    </div>
    <ion-list id="detalhesDaCompra2-list18">
      <ion-item id="detalhesDaCompra2-list-item31">Torresmo (Porção)
        <span class="item-note">x1</span>
      </ion-item>
      <ion-item id="detalhesDaCompra2-list-item33">Onion Rings (Porção)
        <span class="item-note">x1</span>
      </ion-item>
      <ion-item id="detalhesDaCompra2-list-item32">Chopp 250ml
        <span class="item-note">x1</span>
      </ion-item>
    </ion-list>
    <div id="detalhesDaCompra2-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Pago com: </strong> VISA XXXX</p>
    </div>
    <h1 id="detalhesDaCompra2-heading18" style="color:#000000;">Total: R$XX.XX</h1>
    <div id="detalhesDaCompra2-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Você votou:</p>
    </div>
    <div>
      <img src="img/3stars.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>