<ion-view title="Editar Pagamento" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="editarPagamento-form8" class="list">
      <ion-list id="editarPagamento-list9">
        <label class="item item-input" id="editarPagamento-input20">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="o mesmo do cartão">
        </label>
        <label class="item item-input" id="editarPagamento-input21">
          <span class="input-label">Número do Cartão</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-select" id="editarPagamento-select2">
          <span class="input-label">Cartão</span>
          <select>
            <option>Visa</option>
            <option>Master Card</option>
            <option>AMEX</option>
            <option>Elo</option>
          </select>
        </label>
        <label class="item item-input" id="editarPagamento-input22">
          <span class="input-label">Data de Expiração</span>
          <input type="date" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="editarPagamento-input23">
        <span class="input-label">Código de Segurança</span>
        <input type="number" placeholder="">
      </label>
      <a ui-sref="configuraEs()" id="editarPagamento-button14" class="button button-balanced button-block">Editar Pagamento</a>
    </form>
  </ion-content>
</ion-view>