<ion-view title="Fechar Conta (1 de 2)" id="page15">
  <ion-content padding="true" class="has-header">
    <h2 id="fecharConta1De2-heading8" style="color:#000000;">Meio de Pagamento</h2>
    <div id="fecharConta1De2-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Cartão de Crédito</p>
    </div>
    <div id="fecharConta1De2-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">VISA XXX6025</p>
    </div>
    <a ui-sref="menu.fecharConta2De2()" id="fecharConta1De2-button16" class="button button-balanced button-block">Confirmar Pagamento</a>
  </ion-content>
</ion-view>