<ion-view title="Fechar Conta (2 de 2)" id="page16">
  <ion-content padding="true" class="has-header">
    <h4 id="fecharConta2De2-heading11" style="color:#000000;">O que você achou deste restaurante?</h4>
    <form id="fecharConta2De2-form11" class="list">
      <label class="item item-select" id="fecharConta2De2-select4">
        <span class="input-label">Nível de Satisfação</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </form>
    <a ui-sref="menu.opiniO()" id="fecharConta2De2-button17" class="button button-balanced button-block">Fechar Conta</a>
  </ion-content>
</ion-view>