<ion-view title="Login" id="page4">
  <ion-content padding="true" style="background: url(img/adesivo-de-parede-cheff-diferentes.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input3">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="abrirConta()" id="login-button3" class="button button-balanced button-block">Login</a>
    <a ui-sref="cadastro()" id="login-button4" class="button button-positive button-block">Cadastrar</a>
  </ion-content>
</ion-view>