<ion-view title="Opinião" id="page32">
  <ion-content padding="true" class="has-header">
    <div id="opiniO-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Opine sobre cada produto comprado e ganhe um cupom de desconto!</p>
    </div>
    <form id="opiniO-form10" class="list">
      <label class="item item-select" id="opiniO-select7">
        <span class="input-label">Pizza + Coca-Cola</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="opiniO-select6">
        <span class="input-label">Batata Frita</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </form>
    <a ui-sref="menu.cupom()" id="opiniO-button23" class="button button-positive button-block">Avançar</a>
  </ion-content>
</ion-view>