<ion-view title="Pedido 01" id="page31">
  <ion-content padding="true" class="has-header">
    <ion-list id="pedido1-list24">
      <ion-item id="pedido1-list-item45">Pizza + Coca-Cola</ion-item>
      <ion-item id="pedido1-list-item46">Batata Frita (Porção)</ion-item>
    </ion-list>
    <div id="pedido1-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Tempo Médio de Espera: </strong> 15 minutos</p>
    </div>
    <div id="pedido1-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Status:</strong> Enviado à cozinha. </p>
    </div>
  </ion-content>
</ion-view>