<ion-view title="Pizza + Coca-Cola" id="page25">
  <ion-content padding="true" class="has-header">
    <ion-list id="pizzaCocaCola-list20">
      <ion-item id="pizzaCocaCola-list-item36" ui-sref="menu.pizzaItaliana()">Pizza Italiana</ion-item>
      <ion-item id="pizzaCocaCola-list-item37" ui-sref="menu.cocaCola2L()">Coca-Cola 2L</ion-item>
    </ion-list>
    <h1 id="pizzaCocaCola-heading19" style="color:#000000;">Total: R$XX.XX</h1>
    <div id="pizzaCocaCola-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Você economiza R$XX.XX! </p>
    </div>
    <a ui-sref="menu.cardPio()" id="pizzaCocaCola-button19" class="button button-positive button-block">Adicionar ao Carrinho</a>
  </ion-content>
</ion-view>