<ion-view title="Pizza Italiana" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/wood-fired-pizza.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pizzaItaliana-heading2" style="color:#000000;">Descrição</h1>
    <h5 id="pizzaItaliana-heading3" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="pizzaItaliana-heading4" style="color:#000000;">Ingredientes</h1>
    <ion-list id="pizzaItaliana-list7">
      <ion-item id="pizzaItaliana-list-item14">Mussarela</ion-item>
      <ion-item id="pizzaItaliana-list-item15">Presunto</ion-item>
      <ion-item id="pizzaItaliana-list-item16">Manjericão</ion-item>
      <ion-item id="pizzaItaliana-list-item17">Molho de tomate</ion-item>
    </ion-list>
    <h1 id="pizzaItaliana-heading5" style="color:#000000;">Observações</h1>
    <h5 id="pizzaItaliana-heading6" style="color:#000000;">Nenhuma.</h5>
    <h1 id="pizzaItaliana-heading7" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="menu.cardPio()" id="pizzaItaliana-button11" class="button button-balanced button-block">Adicionar ao Carrinho</a>
  </ion-content>
</ion-view>