<ion-view title="Suco de Laranja" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/orangejuice.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sucoDeLaranja-heading9" style="color:#000000;">Descrição</h1>
    <h5 id="sucoDeLaranja-heading10" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="sucoDeLaranja-heading12" style="color:#000000;">Ingredientes</h1>
    <ion-list id="sucoDeLaranja-list12">
      <ion-item id="sucoDeLaranja-list-item23">Laranja</ion-item>
      <ion-item id="sucoDeLaranja-list-item24">Açucar</ion-item>
    </ion-list>
    <h1 id="sucoDeLaranja-heading13" style="color:#000000;">Observações</h1>
    <h5 id="sucoDeLaranja-heading14" style="color:#000000;">Nenhuma.</h5>
    <h1 id="sucoDeLaranja-heading15" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="menu.cardPio()" id="sucoDeLaranja-button18" class="button button-balanced button-block">Adicionar ao Carrinho</a>
  </ion-content>
</ion-view>