<ion-view title="Alterar Status" id="page33">
  <ion-content padding="true" class="has-header">
    <div id="alterarStatus-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Informe o status do pedido selecionado ao cliente:</p>
    </div>
    <form id="alterarStatus-form18" class="list">
      <label class="item item-select" id="alterarStatus-select2">
        <span class="input-label">Selecione</span>
        <select>
          <option>Anotado</option>
          <option>Enviado à cozinha</option>
          <option>Sendo preparado</option>
          <option>Pronto para entrega</option>
        </select>
      </label>
    </form>
    <a ui-sref="cardPio()" id="alterarStatus-button34" class="button button-positive button-block">Ok</a>
  </ion-content>
</ion-view>