<ion-view title="Cadastrar Prato" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="cadastrarPrato-form10" class="list">
      <label class="item item-input" id="cadastrarPrato-input21">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="do Prato">
      </label>
      <label class="item item-input" id="cadastrarPrato-input22">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastrarPrato-input23">
        <span class="input-label">Ingredientes</span>
        <input type="text" placeholder="Separados por Virgula">
      </label>
      <label class="item item-input" id="cadastrarPrato-input24">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastrarPrato-input25">
        <span class="input-label">Preço</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="cardPio()" id="cadastrarPrato-button23" class="button button-balanced button-block">Cadastrar</a>
  </ion-content>
</ion-view>