<ion-view title="Cadastro" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="cadastro-form4" class="list">
      <div id="cadastro-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:23px;">
          <strong>Eu sou:</strong>
        </p>
      </div>
    </form>
    <a ui-sref="cadastroDeCliente1De2()" id="cadastro-button8" class="button button-positive button-block">Cliente de um Restaurante</a>
    <a ui-sref="cadastroDeProprietRio()" id="cadastro-button7" class="button button-positive button-block">Proprietario de um Restaurante</a>
  </ion-content>
</ion-view>