<ion-view title="Cadastro de Funcionario" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeFuncionario-form6" class="list">
      <ion-list id="cadastroDeFuncionario-list11">
        <label class="item item-input" id="cadastroDeFuncionario-input15">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Completo">
        </label>
        <label class="item item-input" id="cadastroDeFuncionario-input16">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeFuncionario-input17">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="cadastroDeFuncionario-button10" class="button button-balanced button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>