<ion-view title="Cadastro de Proprietário" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="cadastroDeProprietRio-form5" class="list">
      <ion-list id="cadastroDeProprietRio-list9">
        <label class="item item-input" id="cadastroDeProprietRio-input11">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome Completo">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input14">
          <span class="input-label">CNPJ</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input12">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="cadastroDeProprietRio-input13">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="login()" id="cadastroDeProprietRio-button9" class="button button-balanced button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>