<ion-view title="Cardápio" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="cardPio-list3">
      <ion-item id="cardPio-list-item9">Entradas</ion-item>
      <ion-item id="cardPio-list-item15" ui-sref="pratosPrincipais()">Pratos Principais</ion-item>
      <ion-item id="cardPio-list-item10" ui-sref="bebidas()">Bebidas</ion-item>
      <ion-item id="cardPio-list-item16">Sobremesas</ion-item>
    </ion-list>
    <ion-list id="cardPio-list16">
      <ion-item class="item-divider" id="cardPio-list-item-divider4"> </ion-item>
      <ion-item id="cardPio-list-item33" ui-sref="combos()">Combos</ion-item>
    </ion-list>
    <ion-list id="cardPio-list23">
      <ion-item id="cardPio-list-item38" ui-sref="condimentos()">Condimentos</ion-item>
    </ion-list>
    <a ui-sref="novaCategoria()" id="cardPio-button21" class="button button-balanced button-block icon ion-android-add"> Nova Categoria</a>
  </ion-content>
</ion-view>