<ion-view title="Coca-Cola 2L" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/12958783wid520hei520fmtpjpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="cocaCola2L-heading14" style="color:#000000;">Descrição</h1>
    <h5 id="cocaCola2L-heading15" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="cocaCola2L-heading16" style="color:#000000;">Ingredientes</h1>
    <h5 id="cocaCola2L-heading20" style="color:#000000;">Nenhum.</h5>
    <h1 id="cocaCola2L-heading17" style="color:#000000;">Observações</h1>
    <h5 id="cocaCola2L-heading18" style="color:#000000;">Nenhuma.</h5>
    <h1 id="cocaCola2L-heading19" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="editarPrato()" id="cocaCola2L-button16" class="button button-positive button-block">Editar Prato</a>
    <a ui-sref="cardPio()" id="cocaCola2L-button17" class="button button-assertive button-block">Bloquear Prato</a>
  </ion-content>
</ion-view>