<ion-view title="Condimentos" id="page31">
  <ion-content padding="true" class="has-header">
    <ion-list id="condimentos-list24">
      <ion-item id="condimentos-list-item39">Ketchup
        <span class="item-note">R$0.00</span>
      </ion-item>
      <ion-item id="condimentos-list-item40">Mostarda
        <span class="item-note">R$0.00</span>
      </ion-item>
      <ion-item id="condimentos-list-item43">Maionese
        <span class="item-note">R$0.50</span>
      </ion-item>
    </ion-list>
    <a ui-sref="novoCondimento()" id="condimentos-button31" class="button button-balanced button-block">Cadastrar Novo Condimento</a>
  </ion-content>
</ion-view>