<ion-view title="Editar Prato" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="editarPrato-form12" class="list">
      <label class="item item-input" id="editarPrato-input29">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="do Prato">
      </label>
      <label class="item item-input" id="editarPrato-input30">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editarPrato-input31">
        <span class="input-label">Ingredientes</span>
        <input type="text" placeholder="Separados por Virgula">
      </label>
      <label class="item item-input" id="editarPrato-input32">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editarPrato-input33">
        <span class="input-label">Preço</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="cardPio()" id="editarPrato-button29" class="button button-balanced button-block">Salvar</a>
    <a ui-sref="cardPio()" id="editarPrato-button30" class="button button-assertive button-block">Excluir Prato</a>
  </ion-content>
</ion-view>