<ion-view title="Editar Funcionário" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="editarFuncionRio-form11" class="list">
      <label class="item item-input" id="editarFuncionRio-input26">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Completo">
      </label>
      <label class="item item-input" id="editarFuncionRio-input27">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editarFuncionRio-input28">
        <span class="input-label">Senha</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="meusFuncionRios()" id="editarFuncionRio-button24" class="button button-balanced button-block">Finalizar Edição</a>
  </ion-content>
</ion-view>