<ion-view title="Fechar Serviços" id="page28">
  <ion-content padding="true" class="has-header">
    <div id="fecharServiOs-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Voce realmente deseja fechar os serviços do estabelecimento agora?</p>
    </div>
    <a ui-sref="login()" id="fecharServiOs-button18" class="button button-assertive button-block">Sim</a>
    <a ui-sref="gerenciamento()" id="fecharServiOs-button19" class="button button-calm button-block">Não</a>
  </ion-content>
</ion-view>