<ion-view title="Funcionario 01" id="page21">
  <ion-content padding="true" class="has-header">
    <h5 id="funcionario1-heading11" style="color:#000000;">Nome: Funcionario 01</h5>
    <h5 id="funcionario1-heading12" style="color:#000000;">E-mail: funcionario01@restaurante.com</h5>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="editarFuncionRio()" id="funcionario1-button14" class="button button-positive button-block">Editar Funcionário</a>
    <a ui-sref="meusFuncionRios()" id="funcionario1-button15" class="button button-assertive button-block">Excluir Funcionário</a>
  </ion-content>
</ion-view>