<ion-view title="Gerenciamento" id="page27">
  <ion-content padding="true" class="has-header">
    <ion-list id="gerenciamento-list21">
      <ion-item id="gerenciamento-list-item42">Cadastrar Combo</ion-item>
      <ion-item id="gerenciamento-list-item44" ui-sref="tempoMDio()">Tempo Médio de Espera</ion-item>
      <ion-item id="gerenciamento-list-item79">Bloquear Produto</ion-item>
      <ion-item class="assertive" id="gerenciamento-list-item45" ui-sref="fecharServiOs()">Fechar Serviços</ion-item>
    </ion-list>
  </ion-content>
</ion-view>