<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/adesivo-de-parede-cheff-diferentes.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input5">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input6">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="cardPio()" id="login-button2" class="button button-balanced button-block">Log in</a>
      <a ui-sref="cadastro()" id="login-button4" class="button button-positive button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>