<ion-view title="Novo Condimento" id="page32">
  <ion-content padding="true" class="has-header">
    <form id="novoCondimento-form15" class="list">
      <label class="item item-input" id="novoCondimento-textarea4">
        <span class="input-label">Nome</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="novoCondimento-textarea5">
        <span class="input-label">Preço</span><textarea placeholder="Opcional"></textarea></label>
    </form>
    <a ui-sref="cardPio()" id="novoCondimento-button32" class="button button-positive button-block">Cadastrar</a>
  </ion-content>
</ion-view>