<ion-view title="Pagamento (2 de 2)" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="pagamento2De2-form3" class="list">
      <ion-list id="pagamento2De2-list8">
        <label class="item item-input" id="pagamento2De2-input7">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="o mesmo do cartão">
        </label>
        <label class="item item-input" id="pagamento2De2-input8">
          <span class="input-label">Número do Cartão</span>
          <input type="number" placeholder="">
        </label>
      </ion-list>
      <label class="item item-select" id="pagamento2De2-select1">
        <span class="input-label">Cartão</span>
        <select>
          <option>Visa</option>
          <option>Master Card</option>
          <option>AMEX</option>
          <option>Elo</option>
        </select>
      </label>
      <label class="item item-input" id="pagamento2De2-input10">
        <span class="input-label">Data de Expiração</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="pagamento2De2-input9">
        <span class="input-label">Codigo de Segurança</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="login()" id="pagamento2De2-button3" class="button button-balanced button-block">Terminar Cadastro</a>
  </ion-content>
</ion-view>