<ion-view title="Pedidos Comuns - Mês" id="page24">
  <ion-content padding="true" class="has-header">
    <form id="pedidosComunsMS-form19" class="list">
      <label class="item item-select" id="pedidosComunsMS-select7">
        <span class="input-label">Mês</span>
        <select>
          <option>Janeiro</option>
          <option>Fevereiro</option>
          <option>Março</option>
          <option>Abril</option>
          <option>Mês Anterior</option>
          <option>Mês Atual</option>
        </select>
      </label>
    </form>
    <h3 id="pedidosComunsMS-heading28" style="color:#000000;">Mês Atual</h3>
    <ion-list id="pedidosComunsMS-list22">
      <div class="item item-body" id="pedidosComunsMS-list-item-container3">
        <div id="pedidosComunsMS-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>Total de Pedidos:</strong> XXXX</p>
        </div>
      </div>
      <ion-item class="item-thumbnail-left" id="pedidosComunsMS-list-item55">
        <img src="img/12958783wid520hei520fmtpjpeg">
        <h2>1 - Coca-Cola 2L</h2>
        <p>Quantidade de pedidos: XXX</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pedidosComunsMS-list-item54">
        <img src="img/wood-fired-pizza.jpg">
        <h2>2 - Pizza Italiana</h2>
        <p>Quantidade de pedidos: XXX</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pedidosComunsMS-list-item56">
        <img src="img/Receita-de-pizza-portuguesa-1.jpg">
        <h2>3 - Pizza Portuguesa</h2>
        <p>Quantidade de pedidos: XXX</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>