<ion-view title="Pizza Portuguesa" id="page30">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Receita-de-pizza-portuguesa-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pizzaPortuguesa-heading21" style="color:#000000;">Descrição</h1>
    <h5 id="pizzaPortuguesa-heading22" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="pizzaPortuguesa-heading23" style="color:#000000;">Ingredientes</h1>
    <ion-list id="pizzaPortuguesa-list25">
      <ion-item id="pizzaPortuguesa-list-item57">Mussarela</ion-item>
      <ion-item id="pizzaPortuguesa-list-item58">Presunto</ion-item>
      <ion-item id="pizzaPortuguesa-list-item59">Cebola</ion-item>
      <ion-item id="pizzaPortuguesa-list-item61">Ovo</ion-item>
      <ion-item id="pizzaPortuguesa-list-item60">Molho de tomate</ion-item>
    </ion-list>
    <h1 id="pizzaPortuguesa-heading24" style="color:#000000;">Observações</h1>
    <h5 id="pizzaPortuguesa-heading25" style="color:#000000;">Nenhuma.</h5>
    <h1 id="pizzaPortuguesa-heading26" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="editarPrato()" id="pizzaPortuguesa-button25" class="button button-positive button-block">Editar Prato</a>
    <a ui-sref="cardPio()" id="pizzaPortuguesa-button35" class="button button-assertive button-block">Bloquear Prato</a>
  </ion-content>
</ion-view>