<ion-view title="Pizza Italiana" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/wood-fired-pizza.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pizzaItaliana-heading1" style="color:#000000;">Descrição</h1>
    <h5 id="pizzaItaliana-heading5" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    <h1 id="pizzaItaliana-heading4" style="color:#000000;">Ingredientes</h1>
    <ion-list id="pizzaItaliana-list7">
      <ion-item id="pizzaItaliana-list-item18">Mussarela</ion-item>
      <ion-item id="pizzaItaliana-list-item19">Presunto</ion-item>
      <ion-item id="pizzaItaliana-list-item20">Manjericão</ion-item>
      <ion-item id="pizzaItaliana-list-item21">Molho de tomate</ion-item>
    </ion-list>
    <h1 id="pizzaItaliana-heading6" style="color:#000000;">Observações</h1>
    <h5 id="pizzaItaliana-heading7" style="color:#000000;">Nenhuma.</h5>
    <h1 id="pizzaItaliana-heading2" style="color:#000000;">Preço - R$X,XX</h1>
    <a ui-sref="editarPrato()" id="pizzaItaliana-button27" class="button button-positive button-block">Editar Prato</a>
    <a ui-sref="cardPio()" id="pizzaItaliana-button28" class="button button-assertive button-block">Bloquear Prato</a>
  </ion-content>
</ion-view>