<ion-view title="Pratos Principais" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="pratosPrincipais-list10">
      <ion-item id="pratosPrincipais-list-item17" ui-sref="pizzaItaliana()">Pizza Italiana</ion-item>
      <ion-item id="pratosPrincipais-list-item62" ui-sref="pizzaPortuguesa()">Pizza Portuguesa</ion-item>
    </ion-list>
    <a ui-sref="cadastrarPrato()" id="pratosPrincipais-button26" class="button button-balanced button-block">Novo Prato</a>
  </ion-content>
</ion-view>