<ion-view title="Receita - Mês" id="page35">
  <ion-content padding="true" class="has-header">
    <form id="receitaMS-form17" class="list">
      <label class="item item-select" id="receitaMS-select3">
        <span class="input-label">Mês</span>
        <select>
          <option>Janeiro</option>
          <option>Fevereiro</option>
          <option>Março</option>
          <option>Abril</option>
          <option>Mês Anterior</option>
          <option>Mês Atual</option>
        </select>
      </label>
    </form>
    <h3 id="receitaMS-heading29" style="color:#000000;">Mês Atual</h3>
    <ion-list id="receitaMS-list28">
      <div class="item item-body" id="receitaMS-list-item-container2">
        <div id="receitaMS-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>Receita Total:</strong> R$ XXXXX,XX </p>
        </div>
      </div>
      <ion-item class="item-thumbnail-left" id="receitaMS-list-item77">
        <img src="img/wood-fired-pizza.jpg">
        <h2>1 - Pizza Italiana</h2>
        <p>Receita: R$ XXXX,XX</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="receitaMS-list-item78">
        <img src="img/Receita-de-pizza-portuguesa-1.jpg">
        <h2>2 - Pizza Portuguesa</h2>
        <p>Receita: R$ XXXX,XX</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="receitaMS-list-item76">
        <img src="img/12958783wid520hei520fmtpjpeg">
        <h2>3 - Coca-Cola 2L</h2>
        <p>Receita: R$ XXXX,XX</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>