<ion-view title="Tempo Médio" id="page29">
  <ion-content padding="true" class="has-header">
    <div id="tempoMDio-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Por favor, informe o tempo medio de espera atual em minutos (os clientes terao acesso a este tempo):</p>
    </div>
    <form id="tempoMDio-form16" class="list">
      <label class="item item-input" id="tempoMDio-textarea2">
        <span class="input-label">Tempo</span><textarea placeholder="Tempo Médio"></textarea></label>
    </form>
    <a ui-sref="gerenciamento()" id="tempoMDio-button20" class="button button-positive button-block">Ok</a>
  </ion-content>
</ion-view>